PyYAML>=5.4
requests>=2.24.0
urllib3>=1.26.4
minio
python-slugify
grpcio
grpcio-tools
numpy~=1.19.5
protobuf<4.0
pymongo
Flask
Flask-WTF
pyopenssl
ttictoc
psutil
click==8.0.1
jinja2
geoip2
plotly
pandas
bokeh
networkx